<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Student Grades Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <header class="container">
        <h1>Student Grades Management</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add/">Add Student</a>
        </nav>
        <hr>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>